/* NAME: Ramlochund Gitendrajeet*/
/* Advanced Web Assignement */
/* CSS for Website */

/* Import custom fonts */
html{
  scroll-behavior: smooth;
}
@font-face {
    font-family: "Optima";
    src: url("../fonts/OPTIMA.ttf");

    font-family: "Century Gothic";
    src: url("../fonts/Century Gothic.ttf");
}
/* Margin reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Allocate Font Optima and Century Gothic to body */
  body {
    font-family: Optima, sans-serif;
    font-family: Century Gothic, sans-serif;
  }

  /* CSS formatting for header elements */
  header{
    padding: 40px;
    font-family: inherit;
    font-size: 22px;
    display: flex;
    background-color: rgb(0, 125, 190);
    color: rgb(35, 31, 32);
    text-align: center;
    align-items: center;
    height: auto;
  }

   /* CSS formatting for container logo*/
  .logocontainer{
    flex:auto;
}

 /* CSS formatting for container images */
.logocontainer img {
    height: auto;
    width: 100%;
    display: block;
  }

/* CSS formatting for container topnav*/
  .topnav {
    overflow: hidden;
    background-color: rgb(0, 183, 199);
  }

  /* CSS formatting for  topnav anchor elements*/
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* CSS formatting for  topnav anchor on hover*/
  .topnav a:hover {
    background-color:rgb(167, 169, 172);
    color: black;
  }
  /* CSS formatting for  topnav anchor on active*/
  .topnav a.active {
    background-color:  rgb(0, 88, 138);
    color: white;
  }
    /* CSS formatting for  topnav search*/
  .topnav .search-container {
    float: right;
  }
  /* CSS formatting for  topnav input type*/
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  /* CSS formatting for  topnav search button*/
  .topnav .search-container button {
    float: right;
    padding: 4px 8px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgb(167, 169, 172);
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  /* CSS formatting for  topnav search button on hover*/
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
 /* CSS formatting for  mobile responsive*/
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
 /* CSS formatting for flex container  */
  .flex-container{
    width:100%;
    padding:20px;
    display: flex;
    flex-direction: row;
  }

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 500px) {
    .flex-container{
      flex-direction: column;
    }
  }

 /* CSS formatting for article elements */
.article1{
    text-align: justify;
    margin-bottom: 10px;
    margin-right: 30px;
    flex: 80%;
}

  /* CSS formatting for article elements images */
.article1 img {
    height: 300px;
    width: 100%;
    display: block;
    padding-bottom: 10px;
    
  }

   /* CSS formatting for article elements h1 */
  .article1 h1{
    text-align: Center;
    color:rgb(0, 125, 190);
    padding:15px;
    font-size: 35px;
    text-shadow: 2px 2px 8px rgb(99, 100, 102);
  }

   /* CSS formatting for article2 elements */
.article2{
    text-align: justify;
    margin-bottom: 10px;
    flex: 20%;
}

.article2 img {
    height: 300px;
    width: auto;
    display: block;
    padding-bottom: 10px;
    
  }
  .article2 h1{
    text-align: Center;
    color:rgb(0, 125, 190);
    padding:10px;
  }
 /* CSS formatting for sub elements */
  .sub h1{
    text-align: Center;
    color:rgb(0, 171, 189);
    padding:10px;
  }
  .sub h2{
    text-align: Center;
    color:rgb(99, 100, 102);
    padding:10px;
  }
 
  ul{
    text-align:justify;
    padding: auto;
    
  }
 /* CSS formatting for table elements */
  table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    border: 5px outset  rgb(0, 88, 138);
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:hover {
    background-color: rgb(0, 171, 189);
  }

  tr:nth-child(even) 
  {
    background-color: rgb(167, 169, 172);
    
  }
  .video{
    width:100%;
    padding:20px;
  }

  .video-playback{
    width:100%;
    padding:20px;
    display: flex;
  }
  
  .video p{
    
    color:rgb(0, 125, 190);
    font-size: 25px;
    text-shadow: 2px 2px 8px rgb(99, 100, 102);
    text-align: center;
  }

  



















  footer {
    background: rgb(0, 171, 189);
    clear: both;
    display: flex;
    padding: 15px;
    text-align: center;
  }
  
  footer p {
    flex: 1 1 auto;
  }
  
  