/* NAME: Ramlochund Gitendrajeet*/
/* Advanced Web Assignement */
/* CSS for Website */

/* Import custom fonts */
@font-face {
    font-family: "Optima";
    src: url("../fonts/OPTIMA.ttf");

    font-family: "Century Gothic";
    src: url("../fonts/Century Gothic.ttf");
}
/* Margin reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Optima, sans-serif;
    font-family: Century Gothic, sans-serif;
  }

  header{
    padding: 40px;
    font-family: inherit;
    font-size: 22px;
    display: flex;
    background-color: rgb(0, 125, 190);
    color: rgb(35, 31, 32);
    text-align: center;
    align-items: center;
    height: auto;
  }

  .logocontainer{
    flex:auto;
}
.logocontainer img {
    height: auto;
    width: 100%;
    display: block;
  }
nav{
    flex: 1 1 auto;
    text-align: center;
    padding: 20px;
    background-color:rgb(84, 198, 211);
    
}
nav ul li {
    display: inline-block;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
 
  }

  nav ul li a {
    color: rgb(35, 31, 32);
    text-decoration: none;
    transition: background-color 2s ease-out 50ms;
  }

  nav ul li a:hover {
    border: 5px solid rgb(0, 125, 190);
    background-color: rgb(0, 125, 190);

  }

  .nav .search-container {
    float: right;
  }
  
  .nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .nav .search-container button:hover {
    background: #ccc;
  }
/* Formatting for input for seach bar custom rgb color*/
input[type=text]{
    font-family: inherit;
    border: 5px solid rgb(0, 183, 199);
  }

  .flex-container{
    width:100%;
    padding:20px;
    display: flex;
    flex-direction: row;
  }

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 500px) {
    .flex-container{
      flex-direction: column;
    }
  }

.article1{
    border: 1px solid black;
    text-align: justify;
    margin-bottom: 10px;
    flex: 80%;
   

}
.article1 img {
    height: 500px;
    width: 100%;
    display: block;
    padding-bottom: 10px;
    
  }
  .article1 h1{
    text-align: Center;
    color:rgb(0, 125, 190);
    padding:10px;
    font-size: 30px;
  }

.article2{
    border: 1px solid black;
    text-align: justify;
    margin-bottom: 10px;
    flex: 20%;


}
.article2 img {
    height: 300px;
    width: auto;
    display: block;
    padding-bottom: 10px;
    
  }
  .article2 h1{
    text-align: Center;
    color:rgb(0, 125, 190);
    padding:10px;
  }

  .sub h1{
    text-align: Center;
    color:rgb(0, 171, 189);
    padding:10px;
  }
  .sub h2{
    text-align: Center;
    color:rgb(99, 100, 102);
    padding:10px;
  }




























































  footer {
    background: rgb(0, 171, 189);
    clear: both;
    display: flex;
    padding: 15px;
    text-align: center;
  }
  
  footer p {
    flex: 1 1 auto;
  }
  
  